/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4 avr. 2018, 10:20:05
    Author     : Manu
*/

html, body {
    height: 100%;
}

body {
    color: #bfbfbf;
    background-image: url('images/background-alaska.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;
}

h1, h2 {
    color: white;
}

#logo{
    width: 50px;
}

.titlePost {
    margin-bottom : 0px;
}

#global {
    min-height: 100%;
    background: rgba(51, 53, 52, 0.7);
    width: 70%;
    margin: auto;
    text-align: justify;
}

#globalMargin {
    padding: 5px 20px;
}
    
#content {
    margin-bottom : 30px;
}

#titleBlog, #footerBlog {
    text-align: center;
}

#titleReponses {
    font-size : 100%;
}

#txtPost {
    min-height: 50vh;
}

#txtComment {
    width: 50%;
}

time {
    font-size: 75%;
    color: #ff8f00;
}

.adminSections {
    height: 100vh;
}

/* -------------------------------------------------------------------------- */
/* ------------------ Fix for the nav when modal is open ---------------------*/
/* -------------(bootstrap add a padding-right & margin-right)----------------*/
/* -------------------------------------------------------------------------- */

nav#navigationMenu{
    padding-right: 1em!important;
    margin-right: 0px!important;
}

/* -------------------------------------------------------------------------- */
/* ------------------------------ TinyMCE part ------------------------------ */
/* -------------------------------------------------------------------------- */

pre {
    background-color: #272822;
    color: #F8F8F2;
    padding: 1em;
}

/* -------------------------------------------------------------------------- */
/* ------------------------------ Modal login ------------------------------- */
/* -------------------------------------------------------------------------- */

.modal-login {
        color: #636363;
        width: auto;
        justify-content: center;
}
.modal-login .modal-content {
        padding: 20px;
        border-radius: 5px;
        border: none;
}
.modal-login .modal-header {
        border-bottom: none;
        position: relative;
        justify-content: center;
}
.modal-login h4 {
        text-align: center;
        font-size: 26px;
}
.modal-login  .form-group {
        position: relative;
}
.modal-login i {
        position: absolute;
        left: 13px;
        top: 11px;
        font-size: 18px;
}
.modal-login .form-control {
        padding-left: 40px;
}
.modal-login .form-control:focus {
        border-color: #00ce81;
}
.modal-login .form-control, .modal-login .btn {
        min-height: 40px;
        border-radius: 3px; 
}
.modal-login .hint-text {
        text-align: center;
        padding-top: 10px;
}
.modal-login .close {
position: absolute;
        top: -5px;
        right: -5px;
}
.modal-login .btn {
        line-height: normal;
}
.modal-login .modal-footer {
        background: #ecf0f1;
        border-color: #dee4e7;
        text-align: center;
        margin: 0 -20px -20px;
        border-radius: 5px;
        font-size: 13px;
}
.modal-login .modal-footer a {
        color: #999;
}

.modal-footer {
    justify-content: space-around;
}

.modal-footer p {
    margin-bottom: 0px;
}

#messageSuccess{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}