/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4 avr. 2018, 10:20:05
    Author     : Manu
*/

html, body {
    height: 100%;
}

body {
    color: #bfbfbf;
    background: black;
    font-family: 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;
}

h1 {
    color: white;
}

.titlePost {
    margin-bottom : 0px;
}

#global {
    min-height: 100%;
    background: #333534;
    width: 70%;
    margin: auto;
    text-align: justify;
    padding: 5px 20px;
}

#content {
    margin-bottom : 30px;
}

#titleBlog, #footerBlog {
    text-align: center;
}

#titleReponses {
    font-size : 100%;
}

#txtComment {
    width: 50%;
}

time {
    font-size: 75%;
    color: red;
}